.table {
  margin-bottom: 32px;
  border-collapse: collapse;
}

.table, .th, .td {
  border: 1px solid #bbbbbb;
  border-radius: 4px;
}

.th {
  padding: 8px;
  background-color: #eeeeee;
  font-size: large;
  font-weight: normal;
}

.td {
  padding: 4px;
  text-align: center;
}